form {
	margin: 50px;
	text-align: center;

}
.change {
	position: float;		
	
	text-align: center;

}
.error {
	color: red;
	}
.pictures img {
	width: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px; 
}
.pictures:hover img {
	visibility: visible;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(5,5); 
}






